commandline_config==2.2.3
requests==2.34.2
selenium==4.47.0
pyinstaller==6.22.1
Pillow==12.3.0
xlsxwriter==3.2.9
openpyxl==3.1.5
pymysql==1.2.0
lxml==6.1.1
ddddocr==1.6.1
pynput==1.8.2
beautifulsoup4==4.15.0
undetected-chromedriver==3.5.5
pandas==3.0.5
